table.welcome{
  border-top: 1px solid #999;
  border-left: 1px solid #999;
}

.welcome *{
  padding: 0;
  margin: 0;
}

.welcome td{
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}
